ul {
  list-style: none;
  padding-left: unset;
}

a {
  text-decoration: none;
}

body {
  background: url('./../images/bg.jpg') top left / cover no-repeat;
}

/********************************************** nav main */

.nav--main .nav__item {
  background-color: red;
}

.nav--main .nav__link {
  color: #fff;
}

@media (min-width: 768px) {
  .nav--main .nav__item:not(:last-child) {
    margin-right: 10px;
  }
}

/********************************************** carousel */

#carousel {
  height: 365px;
  background: url('./../images/top-image.png') no-repeat -120px -120px;
  position: relative;
  overflow: hidden;
}

#carousel::before {
  content: url('./../images/grid.png');
  opacity: .3;
}

#carousel > .logo {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

/********************************************** articles */

#news article {
  background-color: #fff;
  padding: 20px;
}

/********************************************** skateboarders */

#skateboarders img {
  min-width: 100%;
  min-height: 100%;
}

.skateboarder {
  border: solid 5px #fff;
  overflow: hidden;
  position: relative;
}

.skateboarder_lance {
  margin-right: 1.5rem;
}

.skateboarder_tommy {
  height: 100%;
}

.skateboarder span {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

/********************************************** skateboards */

#skateboards {
  background: #fff;
  padding: 20px;
}

@media (min-width: 768px) {
  .skateboard-image {
    transform-origin: top left;
    transform: rotate(90deg) translateY(-25%);
    height: 260px;
    width: 65px;
  }
}
